/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Nunito:200,300");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

h1 {
  font-size: 6rem;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  padding: 0 3rem 1rem 3rem;
  margin: 0 auto;
  max-width: 960px;
}

header {
  width: 100%;
  background-color: #f1f1f1;
  padding: 1rem 0;
  position: fixed;
  margin: 0 auto;
  max-width: calc(960px - 6rem);
  z-index: 3;
}

nav {
  width: 74%;
}

.logo {
  vertical-align: middle;
  width: 25%;
}

nav,
.nav-link,
.link-items,
.logo {
  display: inline-block;
}

.link-items {
  padding: 0 1.5rem;
}

.link-items a {
  color: black;
  font-size: 0.8rem;
  text-decoration: none;
}

.hero {
  padding: 5rem 0 3rem 0;
  height: 100%;
}

.hero-text,
.hero-image {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}

.hero-text {
  text-align: center;
}

.hero-image {
  background: url("../img/header-img.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 380px;
}

.hero-button {
  padding: 0.5rem 2rem;
  background: transparent;
  border: 1px solid black;
  transition: all 1s;
  cursor: pointer;
}

.hero-button:hover {
	transform: scale(1.2);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.content-details {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2rem 0;
}

.content-image {
  width: 100%;
  background: url("../img/mid-page-accent.jpg") no-repeat center;
  height: 200px;
}

.features,
.content-image,
.about,
.services,
.product,
.vision {
  margin-bottom: 1rem;
}

.features,
.about {
  display: inline-block;
  width: 49%;
}

.features {
  margin-right: 0.5rem;
}

.services,
.product,
.vision {
  width: 32%;
  display: inline-block;
  margin-right: .5rem;
}

address {
  padding-top: 2rem;
}

address p {
  padding-top: 1rem;
  line-height: 1.25;
}

.copy {
  margin-top: 2rem;
  text-align: center;
}
